html, body { 
    width: 100%; 
    height: 100%; 
}

body { 
    position: relative; 
}
/*
.topnav {
    position: fixed;
    top: 0;
    height:50px;
    width:100%;
    background: #212121;
    font-family: 'Roboto', sans-serif;

}*/

.charts-header, .album-header, .singles-header {
    font-family: 'Roboto', 'sans-serif';
/*    font-style: "thin";
    font-weight:100;
    font-size: 50px;*/
    font-style: "medium";
    font-weight:700;
    font-size: 30px;
}

.year {
    font-family: 'Roboto', 'sans-serif';
/*    font-style: "thin";
    font-weight:100;
    font-size: 50px;*/
    font-style: "medium";
    font-weight:700;
    font-size: 29px;
}

#homepage-search {
    position:center;
/*    top:0;
    left:0;*/
    z-index:1;
/*    width: 50px;*/
}


.navbar {
        position: sticky;
/*    position: fixed;*/
    top: 0;
/*    height:50px;*/
    width:100%;
    background-color: #000000;
/*    color: #FFFFFF;*/
/*    font-family: 'Roboto', sans-serif;*/
}

.navbar-brand{
    color: #FAA916;
    font-weight:700;
}

.btn, .nav-link {
    color: #FFFFFF;
    font-family: 'Roboto', 'sans-serif';
    font-weight:700;
}

.row.content {
    height: 1500px
}

.holy-grail {
    min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.holy-grail-content {
    flex: 1 1 auto;
}

.holy-grail-sidebar-1 {
    order: -1;
}

    .sidenav {
      background-color: #f1f1f1;
/*      height: 100%;*/
/*      position: -webkit-sticky;
      position: sticky;*/
/*    position: fixed;*/
/*      top: 0;*/
/*  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;*/
/*  overflow: auto;*/
    }

    .sticky-top{
        position: fixed;
        top:0;
        width:100%;
    }

#page-contents{
/*   height:100%; 
       height: calc(100vh - 48px);
    position: sticky;
    top: 71px;*/
      margin: 4em 0

}

/*    .sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}*/

.avatar {
    width:300px;
/*    margin: 10px;*/
display: block;
    margin-left: auto;
    margin-right: auto;
    border:3px solid black;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }



/* Style the video: 100% width and height to cover the entire window */
.video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */

#homepage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  /*color: #f1f1f1;*/
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #FAA916;
}

#homepage h1 {
  font-family: 'Rock Salt', cursive;
  font-size:100px;
  text-shadow: black 0px 0px 10px;
  text-align: center;
}

h2{
    font-family: 'Roboto', 'sans-serif';
    font-weight:700;
/*    font-style: "medium";
    font-size: 50px;*/
}

.artist_name {
    font-family: 'Rock Salt', cursive;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.header {
  position: fixed;
/*  top: 0;*/
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.producer-info-header h1 {
    margin: 1em 0;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    position: sticky;
    top: 71px;
    background-color: #f1f1f1;
/*    position: fixed;
    width: 150px;*/
    overflow-y: auto;
/*    top: 0;
    bottom: 0;*/
}


.col-sm-3 {
    background-color: #f1f1f1;
}

.bio {
    font-size: 14px;
/*    font-style:'medium';*/
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-style: "light";
/*    font-size: 50px;*/
}

/*.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
*/
/*
#homepage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#homepage {
    background: url(autumn.jpg) no-repeat center center;
    background-size: cover;
}*/

/*footer {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/