<!DOCTYPE html>
<html>
  <head>

    <title>ProTag - {{album.album_title}}</title>

    <!-- Scripts. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link href="/static/style.css" rel="stylesheet"></link>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"></link>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <meta charset="utf-8">

    <style>
      .node {
        cursor: pointer;
      }

      /*.node circle {
          fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px;
      }*/

      .node text {
        font: 10px sans-serif;
      }

      .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }
    </style>

  </head>

  <body>
    <!-- Show navigation bar. -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/performers">Performers</a>
      <a href="/producers">Producers</a>
      <!-- <a href="/network">Network</a> -->
      <a href="/resume">Hire Me!</a>
    </div>

    <!-- Show album title and performer, with link to performer's page -->
    <h1 align = "center"><i>{{ album.album_title }}</i> - <a href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></h1>
    <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">

    <br>
    <br>
    {{ bio }}
    <br>
    <br>

    <h3>Distribution of songs on <i>{{ album.album_title }}</i> by producer</h3>

    <!-- Show bubble chart, centered. -->
    <div id="bubble-chart" align="center"></div>

    <script>

      var width = 600, 
          height = 500, 
          color = d3.scale.category10();

      var chart = d3.select("#bubble-chart")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(50,50)");

      var pack = d3.layout.pack()
                          .size([width, height - 50])
                          .padding(10);

      var force = d3.layout.force()
          .size([width, height - 50]);

      d3.json("/album-bubbles.json", function(data) {

        force.nodes(data).start();

        var nodes = pack.nodes(data);

        var node = chart.selectAll(".node")
            .data(nodes)
            .enter()
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
            .call(force.drag);

        node.append("circle")
            .attr("r",function(d) { return d.r; })
            .attr("fill", function(d){ return d.children ? "#fff" : color(d.domain); }) //make nodes with children invisible
            .attr("opacity", 0.6)

        node.append("a")
            .append("text")
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){ return d.r/2; })
            .attr("dy", ".3em").style("text-anchor", "middle")
            .text(function(d) { if(d.name.length < 10){return d.children ? "" : d.name; }})

        node.append("a")
            .append("text")
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){ return d.r/2.5; })
            .attr("dy", ".3em").style("text-anchor", "middle")
            .text(function(d) { if(d.name.length >= 10){return d.children ? "" : d.name; }})

        node.append("a")
            .attr("href", function(d){ return d.link; })
            .append("text")
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){ return d.r/2.5; })
            .style("text-anchor", "middle")
            .attr("dy", "-1em")
            .text(function(d) { return d.children ? "" : d.value; })

        // Show producer's picture in bubble.
        // node.append("svg:image")
        //     .attr("xlink:href",  function(d) { return d.link;})
        //     .attr("x", function(d) { return -25;})
        //     .attr("y", function(d) { return -25;})
        //     .attr("height", 50)
        //     .attr("width", 50);

        // node.append("image")
        //     .attr("xlink:href", function(d){
        //     return  d.link;})
        //     .attr("width", function(d) { 
        //     console.log("d.r:"+d.r);
        //     return d.r; })
        //     .attr("height", function(d) { return d.r; })
        //     .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
        //     .attr('class', function(d) { return d.className; });

        // node.append("a")
        //     .style("filter", function(d) { 
        //          return d._children ? "url(#image)" : "#fff"; 
        //       }).on("mouseover",function(d){
        //                  d3.select(this).style("cursor","pointer");
        //       });
      });

    </script>
      
    <!-- Show album web (force layout visualisation). -->
    <section id="vis"></section> 

    <style>
/*        @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
      #vis {
        font-family: "Source Code Pro", Consolas, monaco, monospace; 
        line-height: 160%; 
        font-size: 16px;  
        margin: 0; 
      }*/

      path.link {
        fill: none;
        stroke-width: 2px;
      }

      .node:not(:hover) .nodetext {
        display: none;
      }
/*
      h1 { 
        font-size: 36px; 
        margin: 10px 0; 
        text-transform: uppercase; 
        font-weight: normal;
      }

      h2, h3 { 
        font-size: 18px; 
        margin: 5px 0; 
        font-weight: normal;
      }

      header {
        padding: 20px; 
        position: absolute; 
        top: 0; 
        left: 0;
      }

      a:link { 
        color: #EE3124; 
        text-decoration: none;
      }

      a:visited { 
        color: #EE3124; 
      }

      a:hover { 
        color: #A4CD39; 
        text-decoration: underline;
      }

      a:active { 
        color: #EE3124; 
      }*/
    </style>

    <script>

      var tcBlack = "#130C0E";

      var w = 600,
          h = 400,
          maxNodeSize = 50,
          x_browser = 20,
          y_browser = 25,
          root;
     
      var vis;
      var force = d3.layout.force(); 

      vis = d3.select("#vis")
              .append("svg")
              .attr("width", w)
              .attr("height", h);
     
      // Read from route defined in server.
      d3.json("/album-web.json", function(json) {
     
        root = json;
        root.fixed = true;
        root.x = w / 2;
        root.y = h / 4;
     
        // Build the path
        var defs = vis.insert("svg:defs")
            .data(["end"]);
     
     
        defs.enter().append("svg:path")
                    .attr("d", "M0,-5L10,0L0,5");

         update();
      });


      function update() {
        var nodes = flatten(root),
            links = d3.layout.tree().links(nodes);
     
        // Restart the force layout.
        force.nodes(nodes)
              .links(links)
              .gravity(0.05)
              .charge(-1500)
              .linkDistance(100)
              .friction(0.5)
              .linkStrength(function(l, i) {return 1; })
              .size([w, h])
              .on("tick", tick)
              .start();
     
        var path = vis.selectAll("path.link")
                      .data(links, function(d) { return d.target.id; });
     
        path.enter().insert("svg:path")
                    .attr("class", "link")
                    // .attr("marker-end", "url(#end)")
                    .style("stroke", "#eee");
       
        // Exit any old paths.
        path.exit().remove();
     
        // Update the nodes.
        var node = vis.selectAll("g.node")
                      .data(nodes, function(d) { return d.id; });
     
        // Enter any new nodes.
        var nodeEnter = node.enter().append("svg:g")
                                    .attr("class", "node")
                                    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                                    .on("click", click)
                                    .call(force.drag);
         
        // Append a circle.
        nodeEnter.append("svg:circle")
                 .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; })
                 .style("fill", "#eee");
       
        // Append images.
        var images = nodeEnter.append("svg:image")
                              .attr("xlink:href",  function(d) { return d.img;})
                              .attr("x", function(d) { return -25;})
                              .attr("y", function(d) { return -25;})
                              .attr("height", 50)
                              .attr("width", 50)
        
        // Make the image grow a little on mouse over and add the text details on click.
        var setEvents = images
                // // Append hero text
                // .on('click', function (d) {
                //     // d3.select("h1").html(d.hero); 
                //     // d3.select("h2").html(d.name); 
                //     // d3.select("h3").html ("Take me to " + "<a href='" + d.link + "' >"  + d.hero + " web page ⇢"+ "</a>" ); 
                //  })

              .on('mouseenter', function() {
                // select element in current context
                d3.select( this )
                  .transition()
                  .attr("x", function(d) { return -60;})
                  .attr("y", function(d) { return -60;})
                  .attr("height", 100)
                  .attr("width", 100);
              })
              // set back
              .on('mouseleave', function() {
                d3.select( this )
                  .transition()
                  .attr("x", function(d) { return -25;})
                  .attr("y", function(d) { return -25;})
                  .attr("height", 50)
                  .attr("width", 50);
              });

        // Append hero name on roll over next to the node as well
        nodeEnter.append("text")
            .attr("class", "nodetext")
            .attr("x", x_browser)
            .attr("y", y_browser +15)
            .attr("fill", tcBlack)
            .text(function(d) { return d.hero; });
     
     
        // Exit any old nodes.
        node.exit().remove();
       
       
        // Re-select for update.
        path = vis.selectAll("path.link");
        node = vis.selectAll("g.node");
     
        function tick() {
         
          path.attr("d", function(d) {
       
           var dx = d.target.x - d.source.x,
                 dy = d.target.y - d.source.y,
                 dr = Math.sqrt(dx * dx + dy * dy);

           return "M" + d.source.x + "," 
                      + d.source.y 
                      + "A" + dr + "," 
                      + dr + " 0 0,1 " 
                      + d.target.x + "," 
                      + d.target.y;
          });

          node.attr("transform", nodeTransform); 
        }
      }


      // Gives the coordinates of the border for keeping the nodes inside a frame
      // http://bl.ocks.org/mbostock/1129492
      function nodeTransform(d) {
        d.x =  Math.max(maxNodeSize, Math.min(w - (d.imgwidth/2 || 16), d.x));
        d.y =  Math.max(maxNodeSize, Math.min(h - (d.imgheight/2 || 16), d.y));

        return "translate(" + d.x + "," + d.y + ")";
      }
     

      // Toggle children on click.
      function click(d) {
        if (d.children) {
          d._children = d.children;
          d.children = null;
        } else {
          d.children = d._children;
          d._children = null;
        }
       
        update();
      }
     
     
      // Returns a list of all nodes under the root.
      function flatten(root) {
        var nodes = []; 
        var i = 0;
       
        function recurse(node) {
          if(node.children){
            node.children.forEach(recurse);
          }

          if(!node.id){
            node.id = ++i;
          }

          nodes.push(node);
        }
       
        recurse(root);

        return nodes;
      } 

    </script>

    <h4>Songs:</h4>
    {% for song in album.songs %}
      <li>
        <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> produced by
        {% for producer in song.producers%} 
          {% if loop.index == 1%}
            <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
          {% else %}
            , <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </body>

  <footer>
      <br>
      <br> 
      Thanks, <a href= "https://genius.com/" alt="Genius"><img src="http://images.genius.com/8ed669cadd956443e29c70361ec4f372.1000x1000x1.png" width="25" height="20" ></a> and <a href="https://geo.itunes.apple.com/us/" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;width:40px;height:40px;"></a>!
  </footer>
</html>

