<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PAGE TITLE HERE {% endblock %}</title>
</head>
<body>
  <!-- navigation bar -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/performers">Performers</a>
      <a href="/producers">Producers</a>
      <a href="/songs">Songs</a>
      <a href="/albums">Albums</a>
    </div>
    {% block content %}PUT YOUR BODY HERE.{% endblock %}
</body>

<footer>
  <!-- attribution link & trademark -->
    {% block footer%}   
    <br>
    <br> 
    Thanks, <a href= "https://genius.com/" alt="Genius"><img src="http://images.genius.com/8ed669cadd956443e29c70361ec4f372.1000x1000x1.png" width="25" height="20" ></a> and <a href="https://geo.itunes.apple.com/us/" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;width:40px;height:40px;"></a>!
    {% endblock %}
</footer>
</html>