{% extends 'base.html' %}

{% block title %}
ProTag
{% endblock%}

{% block head%}
<!-- <script type="text/javascript">

    function dosearch() {
        var sf=document.searchform;
        var submitto = sf.sengines.options[sf.sengines.selectedIndex].value + escape(sf.searchterms.value);
        
        window.location.href = submitto;
        
        return false;
    }

</script> -->
{% endblock%}

{% block content %}
    <h1 align = "center">Welcome to ProTag</h1>
    <form name="searchform" onSubmit="">
    Search: 
    <select name="sengines">
    <option value="http://www.google.com/search?q=" selected>Producer</option>
    <option value="http://www.google.com/search?q=">Performer</option>
    <option value="http://www.google.com/search?q">Song</option>
    </select>
    For: 
    <input type="text" name="searchterms">
    <input type="submit" name="SearchSubmit" value="Search">
    </form>
{% endblock %}