{% extends "base.html" %}

{% block title %}
ProTag
{% endblock %}

{% block content %}
    <h1 align = "center">Welcome to ProTag</h1>

<!-- 
    <form action="/search_result" method="GET">
        <input type=hidden name=command value=Search>
        <input type=hidden name=file value="search_str"> 

        Search For: <input type=text size=45 name=request> -->

        <!-- search bar -->
<!--         <input type=submit value=Search><br> -->

        <!-- drop-down menu -->
<!--         Search By: <select id=ViewName name=ViewName> -->

        <!-- options in drop-down menu -->
<!--         <option>Producer</option>
        <option>Performer</option>
        <option>Song</option>
        <option>Album</option>
    </form> -->

{% endblock %}







