{% extends 'base.html' %}

{% title block%}
ProTag
{% title endblock%}

{% content block %}
    <h1 align = "center">Welcome to ProTag</h1>
    <form name="searchform" onSubmit="return dosearch();">
    Search: 
    <select name="sengines">
    <option value="/" selected>Producer</option>
    <option value="http://www.altavista.com/web/results?q=">Performer</option>
    <option value="http://www.dogpile.com/info.dogpl/search/web/">Song</option>
    </select>
    For: 
    <input type="text" name="searchterms">
    <input type="submit" name="SearchSubmit" value="Search">
    </form>
{% content endblock %}