{% extends "base.html" %}

{% block title %}ProTag - {{performer.performer_name}}{% endblock %}

{% block content %}
    <h1 align = "center">{{performer.performer_name}}</h1>
    {% if performer.songs %}
        <ul>
        <!-- alt = message when hovering over -->
        <!-- producer's image -->
        <img src="{{ performer.performer_img_url }}" width="250" height="200" alt="{{ performer.performer_name }}">

      <h2>Albums</h2>
      {% for year in album_years %}
              <h2>{{year}}</h2>
              {% for album in performer.albums %}
                  {% if album.album_release_date.strftime("%Y") == year %}
                      <h3><a href="/albums/{{ album.album_id }}">{{ album.album_title }}</a></h3>
                      <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">
                      {% for song in album.songs %} 
                          <li>
                          <a href="/songs/{{ song.song_id }}">{{ song.song_title }}</a>
                          <br>
                          produced by
                          <br>
                          <li>
                            <!-- consider for loop & accumulator for better producer display -->
                          {% for producer in song.producers %} 
                          <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}
                          </li>
                          {% endfor %}
                      {% endfor %}
                      <br>
                  {% endif %}
              {% endfor %}
      {% endfor %}
    {% endif %}
{% endblock %}
<!-- add songs not on albums and songs/albums without release dates -->