{% extends "base.html" %}

{% block title %}ProTag - {{performer.performer_name}}{% endblock %}

{% block content %}
    <h1 align = "center">{{performer.performer_name}}</h1>
    {% if performer.songs %}
        <ul>
        <!-- alt = message when hovering over -->
        <!-- producer's image -->
        <img src="{{ performer.performer_img_url }}" width="250" height="200" alt="{{ performer.performer_name }}">

      <h2>Albums</h2>
    {% for year in album_years %}
            <h2>{{year}}</h2>
            {% for album in performer.albums %}
                {% if album.album_release_date.strftime("%Y") == year %}
                    <a href="/albums/{{ album.album_id }}">{{ album.album_title }}</a>
                    <br>
                    <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">
                    {% for song in album.songs %} 
                        {% if performer in song.performers %}
                        <li>
                        <a href="/songs/{{ song.song_id }}">{{ song.song_title }}</a>, produced by <a href="/producers/{{ song.producers[0].producer_id }}">{{ song.producers[0].producer_name }}
                        </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endif %}
            {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}
</body>
</html>