{% extends "base.html" %}

{% block title %}ProTag - {{performer.performer_name}}{% endblock %}

{% block content %}
  <h1 align = "center">{{performer.performer_name}}</h1>

  {% if performer.songs %}
    <!-- Show producer's image. -->
    <img src="{{ performer.performer_img_url }}" width="250" height="200" alt="{{ performer.performer_name }}">

    <br>
    <br>
    {{ bio }}
    <br>
    <br>

    Related performers:
      
    {% set comma = joiner(",") %}
    {% for performer in all_performers %}
        {% if performer.performer_id in related_performers %}
          {{ comma() }} <a href="/performers/{{ performer.performer_id }}">{{ performer.performer_name }}</a>
        {% endif %}
    {% endfor %}


    <h3>Number of songs {{ performer.performer_name }} has created by producer</h3>

    <!-- Show performer to producer frequency donut chart. -->
    <div class="donut-chart">
      <canvas id="performer_song_donutChart"></canvas>
      <div id="performer_song_donutLegend" class="chart-legend"></div>
    </div>

    <script>
      const options = {
        responsive: true
      };

      // Make donut chart of number of songs created per producer.
      let ctx_donut = $("#performer_song_donutChart").get(0).getContext("2d");

      $.get("/performer-frequency.json", function (data) {
        let myDonutChart = new Chart(ctx_donut, {
                                                type: 'doughnut',
                                                data: data,
                                                options: options
                                              });
        // $('#performer_song_donutLegend').html(myDonutChart.generateLegend());
      });
    </script>

    {% if album_years %}
      <h2>Albums</h2>
      <br>

      <!-- Loop through album_years. -->
      {% for year in album_years %}
        <!-- Show album year. -->
        <h2>{{year}}</h2>
        <!-- Loop through albums. -->
        {% for album in performer.albums %}
          <!-- Show album details (title, production) by album release year. -->
          {% if album.album_release_date.strftime("%Y") == year %}
            <h3><a href="/albums/{{ album.album_id }}"><i>{{ album.album_title }}</i></a></h3>
            <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">

            {% for song in album.songs %} 
              <li>
              <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
              {% if song.producers %}
                produced by
                {% for producer in song.producers %} 
                  {% if loop.index == 1%}
                    <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
                  {% else %}
                    , <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
              </li>
            {% endfor %}
            <br>
          {% endif %}
        {% endfor %}
        <br>
      {% endfor %}
    {% endif %}
    <br>

    <!-- Show details (title and production) for songs that do not have albums. -->
    <h2>Singles</h2>
    {% for song in performer.songs %}
      {% if not song.albums %}
        <li>
        <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> produced by
        {% if song.producers %}
          {% for producer in song.producers%}
              {% if loop.index == 1 %}
                <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
              {% else %}
                , <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
              {% endif %}
          {% endfor %}
        {% endif %}
        </li>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endblock %}
