{% extends "base.html" %}

{% block title %}ProTag - {{producer.producer_name}}{% endblock %}

{% block content %}
  <h1 align = "center">{{producer.producer_name}}
      <!-- Show producer's status depending on their album release years. -->
      {% if album_years[-1]|int < 2008 %}
        INDUSTRY VET
      {% else %}
        INDUSTRY ROOKIE
      {% endif %}
  </h1>

  {% if producer.songs %}
    <!-- Show producer's image. -->
    <img src="{{ producer.producer_img_url }}" width="250" height="200" alt="{{ producer.producer_name }}">

    <!-- Show producer's signature. -->
    {% if producer.producer_tag_url %}
      Signature: 
      <iframe width="40" height="40" src="https://www.youtube.com/embed/{{ producer.producer_tag_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      <br>
      <br>
    {% endif %}

    <br>
    <br>
    {{ bio }}
    <br>
    <br>

    <h3>Number of songs {{ producer.producer_name }} has produced by performer</h3>

    <!-- Show producer's performer frequency donut chart. -->
    <div class="donut_chart">
      <canvas id="producer_song_donutChart"></canvas>
      <div id="producer_song_donutLegend" class="chart-legend"></div>
    </div>

    <!-- Show producer's song frequency line chart. -->
    <div class="line_chart">
      <canvas id="producer_song_lineChart"></canvas>
      <div id="producer_song_lineLegend" class="chart-legend"></div>
    </div>

    <!-- Create Chartjs charts. -->
    <script>
      const options = {
        responsive: true
      };

      // Make donut chart of number of songs created per performer.
      let ctx_donut = $("#producer_song_donutChart").get(0).getContext("2d");

      $.get("/producer-frequency.json", function (data) {
        let myDonutChart = new Chart(ctx_donut, {
                                                type: 'doughnut',
                                                data: data,
                                                options: options
                                              });
        // bottom legend
        // $('#producer_song_donutLegend').html(myDonutChart.generateLegend());
      });

      // Make line chart of number of songs created over time, 
      // performer agnostic.
      let ctx_line = $("#producer_song_lineChart").get(0).getContext("2d");

      $.get("/producer-productivity.json", function (data) {
        let myLineChart = Chart.Line(ctx_line, {
                                      data: data,
                                      options: options
                                  });
        // $("#producer_song_lineLegend").html(myLineChart.generateLegend());
      });
    </script>
    <br>
    
      <!-- Return songs producer has producer by album and year, if album exists, with links to the songs' pages. -->
    <h2>Albums</h2>
    <br>
    {% for year in album_years %}
      <h2>{{year}}</h2>
      {% for album in producer.albums %}
        {% if album.album_release_date.strftime("%Y") == year %}
          <h3><a href="/albums/{{ album.album_id }}"><i>{{ album.album_title }}</i></a> - <a href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></h3>
          <!-- Show album's cover art. -->
          <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">

          {% for song in album.songs %} 
            {% if producer in song.producers %}
            <li>
              <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
            </li>
            {% endif %}
          {% endfor %}
          <br>
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <br>

    <!-- Return song details (title and performer and their respective pages) without albums. -->
    <h2>Singles</h2>
    <br>
    {% for song in producer.songs %}
      {% if not song.albums %}               
        <li>
          <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> 
          {% if song.performers %}
           - <a href="/performers/{{ song.performers[0].performer_id }}">{{ song.performers[0].performer_name }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    <br>
  {% endif %}
{% endblock %}
