<!DOCTYPE html>
<html>
<head>
    <title>ProTag - {{producer.producer_name}}</title>
</head>
<body>
    <h1 align = "center">{{producer.producer_name}}</h1>

    {% if producer.songs %}
    <h2>Songs</h2>
    <ul>
      <!-- alt = message when hovering over -->
      <img src="{{ producer.producer_img_url }}" width="250" height="200" alt="{{ producer.producer_name }}">
      <br>
      {% for song in producer.songs %}
        <li>
          <a href="/songs/{{ song.song_id }}">{{ song.song_title }}</a>
        </li>
      {% endfor %}

    {% for album in producer.albums %}
      <div class='album-div'>
        <img src="{{ album.cover_art_url }}" width="250" height="200" alt="{{ album.album_title }}">
        <a href="/albums/{{ album.album_id }}">{{ album.album_title }}</a>
    {% endfor %}

    </ul>
  {% endif %}

</body>
</html>