{% extends "base.html" %}

{%block before_nav %}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
{% endblock %}

{% block title %}ProTag - {{producer.producer_name}}{% endblock %}

{% block content %}


<!-- <div class="header"></div>
<div class="content"></div>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  -->

<div class="container-fluid">
  <div class="row">
    <aside class="col-sm-3 sidebar">
      <nav class="sidebar-sticky">
        <div class="producer-info">
          <div class="producer-info-header">
            <h1 align= "center" class="artist_name">
                {% if album_years %}
                {% if album_years[-1]|int < 2008 %}
                  {{producer.producer_name}} <img src="/static/Blank-Tag-PNG-Pic.png" class="vet-tag" data-toggle="tooltip" data-placement="right" title="Industry Vet">
<!--                   (Industry Vet) -->
                {% else %}
                {{producer.producer_name}}
<!--                   (Industry Rookie) -->
                {% endif %}
              {% endif %}
              </h1>
              <br>
              <!-- Show producer's status depending on their album release years. -->
      <!-- Show producer's image. -->
      <!-- width="250" height="200" -->
            <img src="{{ producer.producer_img_url }}" class="avatar" alt="{{ producer.producer_name }}">
          </div>
          <div class="producer-info-content">
<!--                     <div class="producer-status">
              {% if album_years %}
                {% if album_years[-1]|int < 2008 %}
                  (Industry Vet)
                {% else %}
                  (Industry Rookie)
                {% endif %}
              {% endif %}
            </div> -->
      <!-- Show producer's signature. -->
      {% if producer.producer_tag_url %}
        <div class="signature">
        <b>Signature</b>: 
        <iframe width="40" height="40" src="{{ producer.producer_tag_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
      {% endif %}
      <div class="bio">
      {{ bio }}
    </div>
        </div>
      </div>
      <!-- Show related producers. -->
      <div class="related_artists">
      <b>Related producers</b>:
      
      {% set comma = joiner(",") %}
      {% for producer in all_producers %}
          {% if producer.producer_id in related_producers %}
            <!-- Comma separate related producer list. -->
            {{ comma() }} <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
          {% endif %}
      {% endfor %}
    </div>
      </nav>
    </aside>
    <div id="page-contents" class="col-sm-9">
      <div id="sub-page-contents">
  {% if producer.songs %}
    <div class="charts-header">Number of songs {{ producer.producer_name }} has produced by performer</div>

    <!-- Show producer's performer frequency donut chart. -->
    <div class="donut_chart">
      <canvas id="producer_song_donutChart"></canvas>
      <div id="producer_song_donutLegend" class="chart-legend"></div>
    </div>
    <!-- Show producer's song frequency line chart. -->
    <div class="line_chart">
      <canvas id="producer_song_lineChart"></canvas>
      <div id="producer_song_lineLegend" class="chart-legend"></div>
    </div>
    <!-- Create Chartjs charts. -->
    <script>
      const options = {
        responsive: true
      };

      // Make donut chart of number of songs created per performer.
      let ctx_donut = $("#producer_song_donutChart").get(0).getContext("2d");

      $.get("/producer-frequency.json", function (data) {
        let myDonutChart = new Chart(ctx_donut, {
                                                type: 'doughnut',
                                                data: data,
                                                options: options
                                              });
        // bottom legend
        // $('#producer_song_donutLegend').html(myDonutChart.generateLegend());
      });

      // Make line chart of number of songs created over time, 
      // performer agnostic.
      let ctx_line = $("#producer_song_lineChart").get(0).getContext("2d");

      $.get("/producer-productivity.json", function (data) {
        let myLineChart = Chart.Line(ctx_line, {
                                      data: data,
                                      options: options
                                  });
        // $("#producer_song_lineLegend").html(myLineChart.generateLegend());
      });
    </script>
    <br>
    
      <!-- Return songs producer has producer by album and year, if album exists, with links to the songs' pages. -->
    {% if album_years %}
    <div class="album-header">Albums & EPs</div>
<!--     <div class="card-group"> -->
    {% for year in album_years %}
      <div class="year">{{year}}</div>
        <div class="card-columns">
      {% for album in producer.albums %}
        {% if album.album_release_date.strftime("%Y") == year %}
<!--          <div class="col-sm-2"> -->
        <div class="card" style="width: 18rem;">
          <!-- Show album's cover art. -->
<!--           width="250" height="200 -->
          <img class="card-img-top" src="{{ album.cover_art_url }}" alt="{{ album.album_title }}">
          <div class="card-body">
            <header class=""><a class="album-title" href="/albums/{{ album.album_id }}"><b><i>{{ album.album_title }}</b></i></a><br><a class="album-performer-name" href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></header>
          </div>
          <ul class="list-group list-group-flush">
            {% for song in album.songs %} 
            {% if producer in song.producers %}

            <li id="artist-song-list" class="list-group-item">
              <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
<!--         </div> -->
      </div>
<!--                     <h3><a href="/albums/{{ album.album_id }}"><i>{{ album.album_title }}</i></a> - <a href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></h3> -->

<!--           {% for song in album.songs %} 
            {% if producer in song.producers %}
            <li>
              <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
            </li>
            {% endif %}
          {% endfor %} -->
<!--           <br>
          <br> -->
        {% endif %}
      {% endfor %}
<!--     </div> -->
    </div>
    {% endfor %}
    {% endif %}
<!--   </div> -->


    <!-- Return song details (title and performer and their respective pages) without albums. -->
    <div class="singles-header">Singles</div>
    <ul id="singles-list-group-flush" class="list-group list-group-flush">
    {% for song in producer.songs %}
      {% if not song.albums %}               
        <li id="singles-list-item" class="list-group-item">
          <a id="singles-list-item-song-title" href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> 
          {% if song.performers %}
           - <a id="song-list-item-performer-name" href="/performers/{{ song.performers[0].performer_id }}">{{ song.performers[0].performer_name }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
    <br>
  {% endif %}
  </div>
    </div>
      </div>
    </div>
  <script>
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

function mySFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>

{% endblock %}
